Loritah Bukirwa 

J24M19/003

B26072

PART A: [TOTAL 30 MARKS]
1. Pre-process the dataset "Bike_Sales.xlsx" to exclude missing data and outliers. Save the
transformed dataset from above as your surname (e.g. Aine.xlsx) [10 MARK]
2. Generate a machine learning model to classify the variable "Age_Group" in the above
transformed dataset. Save the above generated model as a job lib or pickle called
"age_predictor.joblib" or "age_predictor.pkl" [10 MARK]
3. Using the transformed dataset from question 1 as your training dataset, and the
"Bike_sales_Uganda.xlsx" as your testing data;
a) Generate a machine learning model to predict the "Revenue". Save the above model as
a joblib or pickle called "Revenue_predictor" [10 MARK]
b) Use the "Revenue_predictor" model to predict the "Revenue" in the testing dataset
"Bike_sales_Uganda.xlsx". Save your output prediction as a csv file labelled
"Revenue_prediction.csv"

In [4]:
# Supress the warning messages
import warnings
warnings.filterwarnings('ignore')

#import the necessary libraries

import pandas as pd #for data manipulation and analysis
import numpy as np #for numerical computations
import matplotlib.pyplot as plt #for data visualization
import seaborn as sns #for data visualization

In [5]:
bike = pd.read_excel('C:/Users/Admin/OneDrive - MOGAS Kenya LIMITED/personal/UCU/Year 2/Sem 1/Data Mining, Modelling and Analytics/DSS8307 Exam Instructions amp Datasets-20250226/DCS8307-Datasets/DCS8307-Datasets/Part A/Bike_Sales.xlsx')
bike.head(5)

,Date,Day,Month,Year,Customer_Age,Age_Group,Customer_Gender,Country,State,Product_Category,Sub_Category,Product,Order_Quantity,Unit_Cost,Unit_Price,Profit,Cost,Revenue
0,2017-01-01,1,January,2017,17,Youth (<25),M,Canada,British Columbia,Bikes,Road Bikes,"Road-250 Red, 44",2,1519,2443,1848,3038,4886
1,2017-01-01,1,January,2017,23,Youth (<25),M,Australia,Victoria,Bikes,Mountain Bikes,"Mountain-200 Black, 46",2,1252,2295,2086,2504,4590
2,2017-01-01,1,January,2017,33,Young Adults (25-34),F,France,Yveline,Bikes,Road Bikes,"Road-150 Red, 48",2,2171,3578,2814,4342,7156
3,2017-01-01,1,January,2017,39,Adults (35-64),M,United States,Washington,Bikes,Road Bikes,"Road-550-W Yellow, 38",2,713,1120,814,1426,2240
4,2017-01-01,1,January,2017,42,Adults (35-64),M,United States,California,Bikes,Road Bikes,"Road-750 Black, 44",2,344,540,392,688,1080

In [6]:
#check the shape of the dataset
#check if the dataset has missing values
print(bike.shape)
print(bike.isnull().sum())

(113036, 18)
Date                0
Day                 0
Month               0
Year                0
Customer_Age        0
Age_Group           0
Customer_Gender     0
Country             0
State               0
Product_Category    0
Sub_Category        0
Product             0
Order_Quantity      0
Unit_Cost           0
Unit_Price          0
Profit              0
Cost                0
Revenue             0
dtype: int64

In [7]:
#check the data types of the columns
bike.dtypes

Date                datetime64[ns]
Day                          int64
Month                       object
Year                         int64
Customer_Age                 int64
Age_Group                   object
Customer_Gender             object
Country                     object
State                       object
Product_Category            object
Sub_Category                object
Product                     object
Order_Quantity               int64
Unit_Cost                    int64
Unit_Price                   int64
Profit                       int64
Cost                         int64
Revenue                      int64
dtype: object

In [8]:
#cleaned data 
bike_clean = bike.dropna()
bike_clean.shape

(113036, 18)

In [9]:
#checking for outliers using the IQR method
#define the numerical columns
num_cols = bike_clean.select_dtypes(include=['int64', 'float64']).columns

for col in num_cols:
    Q1 = bike_clean[col].quantile(0.25)
    Q3 = bike_clean[col].quantile(0.75) 
    IQR = Q3 - Q1

    #Defining the acceptable range
    lower_range = Q1 - 1.5 * IQR
    upper_range = Q3 + 1.5 * IQR

    #Identifying the outliers
    bike_clean = bike_clean[(bike_clean[col] >= lower_range) & (bike_clean[col] <= upper_range)]

#check the shape of the cleaned dataset
bike_clean.shape

#saving the cleaned dataset
bike_clean.to_excel('Bukirwa.xlsx', index=False)

In [10]:
bike_clean.shape

(69407, 18)

In [11]:
bike_clean.head(5)

,Date,Day,Month,Year,Customer_Age,Age_Group,Customer_Gender,Country,State,Product_Category,Sub_Category,Product,Order_Quantity,Unit_Cost,Unit_Price,Profit,Cost,Revenue
4415,2018-07-01,1,July,2018,33,Young Adults (25-34),F,United States,Washington,Accessories,Tires and Tubes,Patch Kit/8 Patches,30,1,2,30,30,60
4417,2018-07-01,1,July,2018,41,Adults (35-64),M,Germany,Hessen,Accessories,Bottles and Cages,Road Bottle Cage,28,3,9,168,84,252
4418,2018-07-01,1,July,2018,33,Young Adults (25-34),F,United States,Washington,Accessories,Tires and Tubes,Patch Kit/8 Patches,24,1,2,24,24,48
4419,2018-07-01,1,July,2018,37,Adults (35-64),M,France,Nord,Accessories,Tires and Tubes,LL Road Tire,24,8,21,312,192,504
4420,2018-07-01,1,July,2018,30,Young Adults (25-34),F,Germany,Nordrhein-Westfalen,Accessories,Tires and Tubes,Road Tire Tube,22,1,4,66,22,88

In [12]:
bike_clean.info()

<class 'pandas.core.frame.DataFrame'>
Index: 69407 entries, 4415 to 111804
Data columns (total 18 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Date              69407 non-null  datetime64[ns]
 1   Day               69407 non-null  int64
 2   Month             69407 non-null  object
 3   Year              69407 non-null  int64
 4   Customer_Age      69407 non-null  int64
 5   Age_Group         69407 non-null  object
 6   Customer_Gender   69407 non-null  object
 7   Country           69407 non-null  object
 8   State             69407 non-null  object
 9   Product_Category  69407 non-null  object
 10  Sub_Category      69407 non-null  object
 11  Product           69407 non-null  object
 12  Order_Quantity    69407 non-null  int64
 13  Unit_Cost         69407 non-null  int64
 14  Unit_Price        69407 non-null  int64
 15  Profit            69407 non-null  int64
 16  Cost              69407 non-null  int64
 17  Revenue           69407 non-null  int64
dtypes: datetime64[ns](1), int64(9), object(8)
memory usage: 10.1+ MB

In [13]:
from sklearn.model_selection import train_test_split #for splitting the data into training and testing sets
from sklearn.ensemble import RandomForestClassifier #for training the model
from sklearn.preprocessing import LabelEncoder #for encoding categorical variables
import joblib

# Load dataset
bike_train = pd.read_excel('Bukirwa.xlsx')

# transforming the "Date" column
if 'Date' in bike_train.columns:
    bike_train["Year"] = bike_train["Date"].dt.year
    bike_train["Month_Num"] = bike_train["Date"].dt.month
    bike_train["Day"] = bike_train["Date"].dt.day
    bike_train = bike_train.drop(columns=["Date"])  # Drop original Date column

# Define categorical columns
cat_cols = ["Month", "Customer_Gender", "Country", "State", "Product_Category", "Sub_Category", "Product"]

# Apply Label Encoding to categorical features
label_encoders = {}  # Dictionary to store encoders
for col in cat_cols:
    le = LabelEncoder()
    bike_train[col] = le.fit_transform(bike_train[col])
    label_encoders[col] = le  # Save encoders for inverse transformation if needed

# Encode the target variable "Age_Group"
le_age = LabelEncoder()
bike_train['Age_Group'] = le_age.fit_transform(bike_train['Age_Group'])

# Save the encoder for future use (decoding predictions later)
joblib.dump(le_age, 'le_age.pkl')

# Select features and target variable
X = bike_train.drop(columns=['Age_Group'])
y = bike_train['Age_Group']

# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Train the Random Forest Classifier
clf = RandomForestClassifier(n_estimators=100, random_state=42)
clf.fit(X_train, y_train)

# Save the trained model
joblib.dump(clf, 'age_predictor.pkl')

print("Model trained and saved as age_predictor.pkl.")

Model trained and saved as age_predictor.pkl.

In [14]:
#checking to see how the model is performing
from sklearn.metrics import accuracy_score

# Make predictions on the test set
y_pred = clf.predict(X_test)

# Calculate accuracy
accuracy = accuracy_score(y_test, y_pred)
print(f"Model Accuracy: {accuracy:.4f}")

Model Accuracy: 1.0000

With an accuracy score of 1.0000. The model is performing well.

In [15]:
#Question 3(a)
from sklearn.ensemble import RandomForestRegressor

# Load dataset
train_file = 'Bukirwa.xlsx'
bike_train = pd.read_excel(train_file)

# transforming the "Date" column
if 'Date' in bike_train.columns:
    bike_train["Year"] = bike_train["Date"].dt.year
    bike_train["Month_Num"] = bike_train["Date"].dt.month #convert to numerical month
    bike_train["Day"] = bike_train["Date"].dt.day
    bike_train = bike_train.drop(columns=["Date"])  # Drop original Date column


if "Month" in bike_train.columns:
    bike_train = bike_train.drop(columns=["Month"])  # Drop Month column

# Define categorical columns
categ_cols = ["Customer_Gender", "Country", "State", "Product_Category", "Sub_Category", "Product", "Age_Group"]

# Apply Label Encoding to categorical features
label_encoders = {}  # Dictionary to store encoders
for col in categ_cols:
    if col in bike_train.columns: #check if the column exists in the dataset
        le = LabelEncoder()
        bike_train[col] = le.fit_transform(bike_train[col])
        label_encoders[col] = le # Save encoders for inverse transformation

#save the encoders
joblib.dump(label_encoders, 'label_encoders.pkl')

# Select features and target variable
X = bike_train.drop(columns=["Revenue"])
y = bike_train["Revenue"]

#check to see if columns have non-numeric values
print(X.dtypes)

Day                 int32
Year                int32
Customer_Age        int64
Age_Group           int64
Customer_Gender     int64
Country             int64
State               int64
Product_Category    int64
Sub_Category        int64
Product             int64
Order_Quantity      int64
Unit_Cost           int64
Unit_Price          int64
Profit              int64
Cost                int64
Month_Num           int32
dtype: object

In [16]:
#checking the transformed dataset
bike_train.head(5)

,Day,Year,Customer_Age,Age_Group,Customer_Gender,Country,State,Product_Category,Sub_Category,Product,Order_Quantity,Unit_Cost,Unit_Price,Profit,Cost,Revenue,Month_Num
0,1,2018,33,2,0,5,49,0,10,22,30,1,2,30,30,60,7
1,1,2018,41,0,1,3,15,0,0,25,28,3,9,168,84,252,7
2,1,2018,33,2,0,5,49,0,10,22,24,1,2,24,24,48,7
3,1,2018,37,0,1,2,27,0,10,13,24,8,21,312,192,504,7
4,1,2018,30,2,0,3,28,0,10,26,22,1,4,66,22,88,7

In [17]:
#split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Train the Random Forest Regressor
revenue_model = RandomForestRegressor(n_estimators=100, random_state=42)
revenue_model.fit(X_train, y_train)

#save the trained model
joblib.dump(revenue_model, 'revenue_predictor.pkl')

print("Model trained and saved as revenue_predictor.pkl.")

Model trained and saved as revenue_predictor.pkl.

In [18]:
#checking to see how the model is performing
from sklearn.metrics import r2_score

# Make predictions on the test set
y_pred = revenue_model.predict(X_test)

# Calculate R² score
r2 = r2_score(y_test, y_pred)
print(f"Model R² Score: {r2:.4f}")  # Shows R² as a percentage

Model R² Score: 1.0000

In [ ]:
#Question 3(b)

# Load test dataset
test_file = "C:/Users/Admin/OneDrive - MOGAS Kenya LIMITED/personal/UCU/Year 2/Sem 1/Data Mining, Modelling and Analytics/DSS8307 Exam Instructions amp Datasets-20250226/DCS8307-Datasets/DCS8307-Datasets/Part A/Bike_sales_Uganda.xlsx"
bike_test = pd.read_excel(test_file)

# Convert "Date" column to datetime format
if "Date" in bike_test.columns:
    bike_test["Date"] = pd.to_datetime(bike_test["Date"], errors='coerce')
    bike_test["Year"] = bike_test["Date"].dt.year
    bike_test["Month_Num"] = bike_test["Date"].dt.month
    bike_test["Day"] = bike_test["Date"].dt.day
    bike_test = bike_test.drop(columns=["Date"])

if "Month" in bike_test.columns:
    bike_test = bike_test.drop(columns=["Month"])

# Load Label Encoders
label_encoders = joblib.load("label_encoders.pkl")

cat_cols = ["Customer_Gender", "Country", "State", "Product_Category", "Sub_Category", "Product", "Age_Group"]

# Fill missing columns with "Other"
missing_cols = set(cat_cols) - set(bike_test.columns)
for col in missing_cols:
    print(f"Missing column: {col}. Filling with 'Other'")
    bike_test[col] = "Other"

# Encode categorical features
for col in cat_cols:
    if col in bike_test.columns and col in label_encoders:
        le = label_encoders[col]# Load the encoder
        if "Other" not in le.classes_:# Add "Other" if not found
            le.classes_ = np.append(le.classes_, "Other")
        bike_test[col] = bike_test[col].apply(lambda x: x if x in le.classes_ else "Other")
        bike_test[col] = le.transform(bike_test[col]) # Encode the column
    else:
        print(f"No encoder found for {col}, skipping encoding.")# Skip if encoder not found

# Save the output
bike_test.to_csv("Revenue_Prediction.csv", index=False)
print("Revenue predictions saved successfully.")

Revenue predictions saved successfully.